#next{
    float: right;
}
#back{
    float: left;
}
h1 {
    color: #f8a055;
}

body{
    background-color: #4987d8;
}
h2{
    color: #fa6e59;
}
 
 div{
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     font-size: 50px;
     color: #5bc0de;
     
 }
 #clothing{
     font-size: 20px;
 }